{
  "openapi": "3.1.0",
  "info": { "title": "Field Manager Data API", "version": "4.5.20" },
  "servers": [
    {
      "url": "https://api.fieldmanager.io/fieldmanager",
      "description": "API gateway"
    }
  ],
  "paths": {
    "/organizations/{organization_id}": {
      "get": {
        "tags": ["organizations"],
        "summary": "Get Organization",
        "description": "Retrieve one organization",
        "operationId": "get_organization_organizations__organization_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["organizations"],
        "summary": "Update Organization",
        "description": "Update an organization with passed organization_in.",
        "operationId": "update_organization_organizations__organization_id__put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrganizationUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/files": {
      "get": {
        "tags": ["organizations", "files"],
        "summary": "Get Files In Organization",
        "description": "Get all database file objects that are directly attached to the specified organization with organization_id and\npossible filtered by file types.\n\nPlease note that you will not get files that is only attached to an underlying Project, Location or Method in\nthe Organization.",
        "operationId": "get_files_in_organization_organizations__organization_id__files_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          },
          {
            "name": "file_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/FileType" },
              "default": [],
              "title": "File Types"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/File" },
                  "title": "Response Get Files In Organization Organizations  Organization Id  Files Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/upload": {
      "post": {
        "tags": ["organizations", "files"],
        "summary": "Upload File To Organization",
        "description": "Upload data file to organization. The file is not parsed, but only attached to the organization.",
        "operationId": "upload_file_to_organization_organizations__organization_id__upload_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_to_organization_organizations__organization_id__upload_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/File" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/files/{file_id}/download": {
      "get": {
        "tags": ["organizations", "files"],
        "summary": "Download File",
        "description": "Download the file blob content by organization_id and file_id",
        "operationId": "download_file_organizations__organization_id__files__file_id__download_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ImageSize",
              "default": "ORIGINAL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/files/{file_id}": {
      "delete": {
        "tags": ["organizations", "files"],
        "summary": "Delete File",
        "description": "Delete file with specified file_id from organization with organization_id.",
        "operationId": "delete_file_organizations__organization_id__files__file_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/projects": {
      "get": {
        "tags": ["organizations"],
        "summary": "Get Organization Projects",
        "description": "Retrieve all projects in organization with organization_id",
        "operationId": "get_organization_projects_organizations__organization_id__projects_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0, "title": "Skip" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100, "title": "Limit" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Project" },
                  "title": "Response Get Organization Projects Organizations  Organization Id  Projects Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/projects/{project_id}/move": {
      "post": {
        "tags": ["organizations"],
        "summary": "Move Organization Project",
        "description": "Move a project from one organization to another. The calling user must be an admin in both organizations.\n\nReturn 200 OK if successful move.",
        "operationId": "move_organization_project_organizations__organization_id__projects__project_id__move_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Project Id"
            }
          },
          {
            "name": "target_organization_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Target Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": ["organizations"],
        "summary": "Get Organizations",
        "description": "Retrieve the organizations you have access to.",
        "operationId": "get_organizations_organizations_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0, "title": "Skip" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100, "title": "Limit" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Organization" },
                  "title": "Response Get Organizations Organizations Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["organizations"],
        "summary": "Add Organization",
        "description": "Add an organization object. You must be an application admin to add organizations.",
        "operationId": "add_organization_organizations_post",
        "security": [{ "HTTPBearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrganizationCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/get_by_external_id/{external_id}": {
      "get": {
        "tags": ["organizations"],
        "summary": "Get Organization By External Id",
        "description": "Return a specific organization_id",
        "operationId": "get_organization_by_external_id_organizations_get_by_external_id__external_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "External Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "tags": ["projects"],
        "summary": "Get Project",
        "operationId": "get_project_projects__project_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectInfo" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["projects"],
        "summary": "Update Project",
        "description": "Update a project with passed project_in.\n\nIf srid is changed, then all location values are transformed from the old srid to the new srid.\nThe location should not move on the map.",
        "operationId": "update_project_projects__project_id__put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProjectUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["projects"],
        "summary": "Delete Project",
        "description": "Soft delete a project with passed project_id.",
        "operationId": "delete_project_projects__project_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/files": {
      "get": {
        "tags": ["projects", "files"],
        "summary": "Get Files In Project",
        "description": "Get all database file objects in a project by project_id and possible filtered by file type.",
        "operationId": "get_files_in_project_projects__project_id__files_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "file_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/FileType" },
              "default": [],
              "title": "File Types"
            }
          },
          {
            "name": "extended_result",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Extended Result"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      { "$ref": "#/components/schemas/FileExtended" },
                      { "$ref": "#/components/schemas/File" }
                    ]
                  },
                  "title": "Response Get Files In Project Projects  Project Id  Files Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["projects", "files"],
        "summary": "Delete Files",
        "description": "Batch delete project files.\n\nHaving a request body in a DELETE method is not supported by every client library.\nIf you have trouble using this endpoint, you may want to use the endpoint\n`DELETE /projects/{project_id}/files/{file_id}` instead.",
        "operationId": "delete_files_projects__project_id__files_delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": { "type": "string", "format": "uuid" },
                "title": "File Ids"
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/files/{file_id}": {
      "get": {
        "tags": ["projects", "files"],
        "summary": "Get File In Project",
        "description": "Return a database file object with the given file_id in specified project.",
        "operationId": "get_file_in_project_projects__project_id__files__file_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/File" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["projects", "files"],
        "summary": "Delete File",
        "description": "Delete file for project.",
        "operationId": "delete_file_projects__project_id__files__file_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["files", "projects"],
        "summary": "Change File Metadata",
        "description": "Update the file metadata by project_id and file_id",
        "operationId": "change_file_metadata_projects__project_id__files__file_id__put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FileUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/File" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/logo": {
      "get": {
        "tags": ["projects", "files"],
        "summary": "Download Logo",
        "description": "Download the project's organization logo file.\n\nIf not present, then return the default Field Manager logo file\n\nFor now, all image files uploaded directly to the organization is considered as a logo file.\nRandom picks one.",
        "operationId": "download_logo_projects__project_id__logo_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/linked_projects": {
      "get": {
        "tags": ["projects", "linked_projects"],
        "summary": "Get Linked Projects",
        "description": "Get all linked projects in a project by project_id.",
        "operationId": "get_linked_projects_projects__project_id__linked_projects_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/LinkedProjectInfo" },
                  "title": "Response Get Linked Projects Projects  Project Id  Linked Projects Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/linked_projects/{linked_project_id}": {
      "post": {
        "tags": ["projects", "linked_projects"],
        "summary": "Link Linked Project",
        "description": "Link another project to a project by project_id.",
        "operationId": "link_linked_project_projects__project_id__linked_projects__linked_project_id__post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "linked_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Linked Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["projects", "linked_projects"],
        "summary": "Unlink Linked Project",
        "description": "Unlink linked project to a project by project_id.",
        "operationId": "unlink_linked_project_projects__project_id__linked_projects__linked_project_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "linked_project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Linked Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/upload": {
      "post": {
        "tags": ["projects", "files"],
        "summary": "Upload File To Project",
        "description": "Upload data file to project. If layer_file is passed as True, then the file is converted to GeoJSON and used for\nshowing extra layers in a project. Otherwise, the file is not parsed, but only attached to the project.\n\nFor layer files, only two types are supported: .dxf files with POINT, LINE and / or POLYLINE and .zip files\ncontaining shape (.shp) files.",
        "operationId": "upload_file_to_project_projects__project_id__upload_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "layer_file",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Layer File"
            }
          },
          {
            "name": "srid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "string" }, { "type": "null" }],
              "title": "Srid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_to_project_projects__project_id__upload_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/summary": {
      "get": {
        "tags": ["projects"],
        "summary": "Get Project Summary",
        "description": "This is a very heavy and specialized endpoint, only returning exactly what is needed for displaying information\nin the map (Locations, Methods and some numbers shown for the location in the map).",
        "operationId": "get_project_summary_projects__project_id__summary_get",
        "deprecated": true,
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectSummary" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": ["projects"],
        "summary": "Get Projects",
        "description": "Get all projects you have access to.",
        "operationId": "get_projects_projects_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0, "title": "Skip" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100, "title": "Limit" }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": { "type": "string" },
              "default": [],
              "title": "Tags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ProjectInfo" },
                  "title": "Response Get Projects Projects Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["projects"],
        "summary": "Delete Projects",
        "description": "Delete multiple projects. Pass a list of project_ids to be deleted in the request body.",
        "operationId": "delete_projects_projects_delete",
        "security": [{ "HTTPBearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": { "type": "string", "format": "uuid" },
                "title": "Project Ids"
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["projects"],
        "summary": "Add Project",
        "description": "Add a project with passed project_in.\n\nIf you pass in set_manager_user as:\n- True, then the calling user set as the project manager.\n- False, then the calling user is not set as the project manager.\n- None (default), the calling user is set as the project manager if the user is not an organization admin.",
        "operationId": "add_project_projects_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "set_manager_user",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "boolean" }, { "type": "null" }],
              "title": "Set Manager User"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProjectCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Project" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/search": {
      "post": {
        "tags": ["projects"],
        "summary": "Search Projects",
        "operationId": "search_projects_projects_search_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0, "title": "Skip" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100, "title": "Limit" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProjectSearch" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ProjectInfo" },
                  "title": "Response Search Projects Projects Search Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/favorite": {
      "put": {
        "tags": ["projects"],
        "summary": "Update Project Favorite",
        "description": "Update a project favorite (for the calling user).",
        "operationId": "update_project_favorite_projects__project_id__favorite_put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectInfo" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["projects"],
        "summary": "Update Project Favorite",
        "description": "Update a project favorite (for the calling user).",
        "operationId": "update_project_favorite_projects__project_id__favorite_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectInfo" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["projects"],
        "summary": "Update Project Favorite",
        "description": "Remove a project as favorite (for the calling user).",
        "operationId": "update_project_favorite_projects__project_id__favorite_delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ProjectInfo" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations": {
      "get": {
        "tags": ["locations"],
        "summary": "Get Locations In Project",
        "description": "Return all locations in project.\n\nIt is possible to filter on tags (only return locations with any of the passed tags).\nIf no tags are specified, all locations are returned.\n\nIf method_types are specified, only locations with methods of the specified types are returned.",
        "operationId": "get_locations_in_project_projects__project_id__locations_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0, "title": "Skip" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100, "title": "Limit" }
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Deleted"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": { "type": "string" },
              "default": [],
              "title": "Tags"
            }
          },
          {
            "name": "method_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": { "$ref": "#/components/schemas/MethodTypeEnum" },
              "default": [],
              "title": "Method Types"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Location" },
                  "title": "Response Get Locations In Project Projects  Project Id  Locations Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["locations"],
        "summary": "Update Locations In Project",
        "description": "Batch updates locations",
        "operationId": "update_locations_in_project_projects__project_id__locations_put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/LocationUpdate" },
                "title": "Locations In"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Location" },
                  "title": "Response Update Locations In Project Projects  Project Id  Locations Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["locations"],
        "summary": "Add Location To Project",
        "description": "Add location to project.",
        "operationId": "add_location_to_project_projects__project_id__locations_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LocationCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Location" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["locations"],
        "summary": "Delete Locations In Project",
        "description": "Delete multiple locations in a project",
        "operationId": "delete_locations_in_project_projects__project_id__locations_delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "uniqueItems": true,
                "items": { "type": "string", "format": "uuid" },
                "title": "Location Ids"
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}": {
      "get": {
        "tags": ["locations"],
        "summary": "Get Location In Project",
        "description": "Return a specific location",
        "operationId": "get_location_in_project_projects__project_id__locations__location_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Location" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["locations"],
        "summary": "Update Location In Project",
        "description": "Updates location",
        "operationId": "update_location_in_project_projects__project_id__locations__location_id__put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LocationUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Location" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["locations"],
        "summary": "Delete Location In Project",
        "description": "Delete a single location in project",
        "operationId": "delete_location_in_project_projects__project_id__locations__location_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}/files": {
      "get": {
        "tags": ["locations", "files"],
        "summary": "Get Files In Location In Project",
        "description": "Return database file objects for a specific location and optional file type",
        "operationId": "get_files_in_location_in_project_projects__project_id__locations__location_id__files_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          },
          {
            "name": "file_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/FileType" },
                { "type": "null" }
              ],
              "title": "File Type"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/File" },
                  "title": "Response Get Files In Location In Project Projects  Project Id  Locations  Location Id  Files Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}/files/{file_id}": {
      "delete": {
        "tags": ["locations", "files"],
        "summary": "Delete File",
        "description": "Delete file in location.\n\nA file may be the source for several locations, so we don't delete the file blob before the last reference is\ndeleted.",
        "operationId": "delete_file_projects__project_id__locations__location_id__files__file_id__delete",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          }
        ],
        "responses": {
          "204": { "description": "Successful Response" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/get_by_name/{name}": {
      "get": {
        "tags": ["locations"],
        "summary": "Get Location In Project By Name",
        "description": "Return a specific location",
        "operationId": "get_location_in_project_by_name_projects__project_id__locations_get_by_name__name__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Name" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Location" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}/export": {
      "get": {
        "tags": ["locations", "export"],
        "summary": "Export",
        "description": "Endpoint for exporting specified location data.\n\nSupported **export_type** (MethodExportType):\n\n- **SND**: Download SND file.\n           For now only CPT, RP, SS and TOT methods are supported.\n           You will get a single SND file containing all methods for this location.",
        "operationId": "export_projects__project_id__locations__location_id__export_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          },
          {
            "name": "export_type",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/MethodExportType" }
          },
          {
            "name": "swap_x_y",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Swap X Y"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/upload": {
      "post": {
        "tags": ["locations", "files"],
        "summary": "Upload Locations To Project",
        "description": "Upload locations from a file.\n\nSupported file extensions are: .ags, .csv, .gvr, .kof, .prv, .snd, .vb, .xlsx, .xls and image files.\n\nPlease do not call this endpoint in parallel, since it is very resource intensive and will affect other users of\nthe system.",
        "operationId": "upload_locations_to_project_projects__project_id__locations_upload_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "srid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "title": "Srid"
            }
          },
          {
            "name": "swap_x_y",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "boolean" }, { "type": "null" }],
              "default": false,
              "title": "Swap X Y"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_locations_to_project_projects__project_id__locations_upload_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Location" },
                  "title": "Response Upload Locations To Project Projects  Project Id  Locations Upload Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/queue": {
      "post": {
        "tags": ["locations", "files"],
        "summary": "Queue Locations To Project",
        "description": "Upload location file and add to queue for parsing.\n\nSupported file extensions: .ags, .csv, .gvr, .kof, .snd, .xlsx, .xls and image files.\n\n\nParsing of the file is done asynchronously, so the response can be returned before parsing is done.\n\nYou may check the status of the parsing by using the endpoints specified here:\nhttps://app.fieldmanager.io/developer/file-director",
        "operationId": "queue_locations_to_project_projects__project_id__locations_queue_post",
        "deprecated": true,
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "srid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "title": "Srid"
            }
          },
          {
            "name": "swap_x_y",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "boolean" }, { "type": "null" }],
              "default": false,
              "title": "Swap X Y"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_queue_locations_to_project_projects__project_id__locations_queue_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/File" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/files/{file_id}/parse": {
      "post": {
        "tags": ["files"],
        "summary": "Parse Project File",
        "description": "Parse an already queued location file.",
        "operationId": "parse_project_file_projects__project_id__files__file_id__parse_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid", "title": "File Id" }
          },
          {
            "name": "srid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [{ "type": "integer" }, { "type": "null" }],
              "title": "Srid"
            }
          },
          {
            "name": "swap_x_y",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Swap X Y"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Location" },
                  "title": "Response Parse Project File Projects  Project Id  Files  File Id  Parse Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}/upload": {
      "post": {
        "tags": ["locations", "files"],
        "summary": "Upload File To Location",
        "description": "Upload a data file to location. Will create new methods and upload the submitted file data\n\nSupported file types are .A00, .ASC, .CPT, .DTR, .ENK, .GVR, .PRV, .RP, .SND, .STD, .TOT, .VB, .VIM",
        "operationId": "upload_file_to_location_projects__project_id__locations__location_id__upload_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_file_to_location_projects__project_id__locations__location_id__upload_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      { "$ref": "#/components/schemas/MethodCPT" },
                      { "$ref": "#/components/schemas/MethodTOT" },
                      { "$ref": "#/components/schemas/MethodRP" },
                      { "$ref": "#/components/schemas/MethodSA" },
                      { "$ref": "#/components/schemas/MethodPZ" },
                      { "$ref": "#/components/schemas/MethodSS" },
                      { "$ref": "#/components/schemas/MethodRWS" },
                      { "$ref": "#/components/schemas/MethodRCD" },
                      { "$ref": "#/components/schemas/MethodRS" },
                      { "$ref": "#/components/schemas/MethodSVT" },
                      { "$ref": "#/components/schemas/MethodSPT" },
                      { "$ref": "#/components/schemas/MethodCD" },
                      { "$ref": "#/components/schemas/MethodTP" },
                      { "$ref": "#/components/schemas/MethodPT" },
                      { "$ref": "#/components/schemas/MethodESA" },
                      { "$ref": "#/components/schemas/MethodAD" },
                      { "$ref": "#/components/schemas/MethodRO" },
                      { "$ref": "#/components/schemas/MethodINC" },
                      { "$ref": "#/components/schemas/MethodSR" },
                      { "$ref": "#/components/schemas/MethodIW" },
                      { "$ref": "#/components/schemas/MethodDT" },
                      { "$ref": "#/components/schemas/MethodOTHER" },
                      { "$ref": "#/components/schemas/MethodSRS" },
                      { "$ref": "#/components/schemas/MethodDP" },
                      { "$ref": "#/components/schemas/MethodWST" }
                    ],
                    "discriminator": {
                      "propertyName": "method_type_id",
                      "mapping": {
                        "1": "#/components/schemas/MethodCPT",
                        "2": "#/components/schemas/MethodTOT",
                        "3": "#/components/schemas/MethodRP",
                        "4": "#/components/schemas/MethodSA",
                        "5": "#/components/schemas/MethodPZ",
                        "6": "#/components/schemas/MethodSS",
                        "7": "#/components/schemas/MethodRWS",
                        "8": "#/components/schemas/MethodRCD",
                        "9": "#/components/schemas/MethodRS",
                        "10": "#/components/schemas/MethodSVT",
                        "11": "#/components/schemas/MethodSPT",
                        "12": "#/components/schemas/MethodCD",
                        "13": "#/components/schemas/MethodTP",
                        "14": "#/components/schemas/MethodPT",
                        "15": "#/components/schemas/MethodESA",
                        "17": "#/components/schemas/MethodAD",
                        "18": "#/components/schemas/MethodRO",
                        "19": "#/components/schemas/MethodINC",
                        "20": "#/components/schemas/MethodSR",
                        "21": "#/components/schemas/MethodIW",
                        "22": "#/components/schemas/MethodDT",
                        "23": "#/components/schemas/MethodOTHER",
                        "24": "#/components/schemas/MethodSRS",
                        "25": "#/components/schemas/MethodDP",
                        "26": "#/components/schemas/MethodWST"
                      }
                    }
                  },
                  "title": "Response Upload File To Location Projects  Project Id  Locations  Location Id  Upload Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}/methods": {
      "get": {
        "tags": ["methods"],
        "summary": "Get Methods For Location",
        "description": "Return all methods for location. Please note that the return object is a\nunion of all possible attributes for all return types.",
        "operationId": "get_methods_for_location_projects__project_id__locations__location_id__methods_get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 0, "title": "Skip" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 100, "title": "Limit" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      { "$ref": "#/components/schemas/MethodCPT" },
                      { "$ref": "#/components/schemas/MethodTOT" },
                      { "$ref": "#/components/schemas/MethodRP" },
                      { "$ref": "#/components/schemas/MethodSA" },
                      { "$ref": "#/components/schemas/MethodPZ" },
                      { "$ref": "#/components/schemas/MethodSS" },
                      { "$ref": "#/components/schemas/MethodRWS" },
                      { "$ref": "#/components/schemas/MethodRCD" },
                      { "$ref": "#/components/schemas/MethodRS" },
                      { "$ref": "#/components/schemas/MethodSVT" },
                      { "$ref": "#/components/schemas/MethodSPT" },
                      { "$ref": "#/components/schemas/MethodCD" },
                      { "$ref": "#/components/schemas/MethodTP" },
                      { "$ref": "#/components/schemas/MethodPT" },
                      { "$ref": "#/components/schemas/MethodESA" },
                      { "$ref": "#/components/schemas/MethodAD" },
                      { "$ref": "#/components/schemas/MethodRO" },
                      { "$ref": "#/components/schemas/MethodINC" },
                      { "$ref": "#/components/schemas/MethodSR" },
                      { "$ref": "#/components/schemas/MethodIW" },
                      { "$ref": "#/components/schemas/MethodDT" },
                      { "$ref": "#/components/schemas/MethodOTHER" },
                      { "$ref": "#/components/schemas/MethodSRS" },
                      { "$ref": "#/components/schemas/MethodDP" },
                      { "$ref": "#/components/schemas/MethodWST" }
                    ],
                    "discriminator": {
                      "propertyName": "method_type_id",
                      "mapping": {
                        "1": "#/components/schemas/MethodCPT",
                        "2": "#/components/schemas/MethodTOT",
                        "3": "#/components/schemas/MethodRP",
                        "4": "#/components/schemas/MethodSA",
                        "5": "#/components/schemas/MethodPZ",
                        "6": "#/components/schemas/MethodSS",
                        "7": "#/components/schemas/MethodRWS",
                        "8": "#/components/schemas/MethodRCD",
                        "9": "#/components/schemas/MethodRS",
                        "10": "#/components/schemas/MethodSVT",
                        "11": "#/components/schemas/MethodSPT",
                        "12": "#/components/schemas/MethodCD",
                        "13": "#/components/schemas/MethodTP",
                        "14": "#/components/schemas/MethodPT",
                        "15": "#/components/schemas/MethodESA",
                        "17": "#/components/schemas/MethodAD",
                        "18": "#/components/schemas/MethodRO",
                        "19": "#/components/schemas/MethodINC",
                        "20": "#/components/schemas/MethodSR",
                        "21": "#/components/schemas/MethodIW",
                        "22": "#/components/schemas/MethodDT",
                        "23": "#/components/schemas/MethodOTHER",
                        "24": "#/components/schemas/MethodSRS",
                        "25": "#/components/schemas/MethodDP",
                        "26": "#/components/schemas/MethodWST"
                      }
                    }
                  },
                  "title": "Response Get Methods For Location Projects  Project Id  Locations  Location Id  Methods Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["methods"],
        "summary": "Add Method To Location",
        "description": "Add method to location",
        "operationId": "add_method_to_location_projects__project_id__locations__location_id__methods_post",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/MethodADCreate" },
                  { "$ref": "#/components/schemas/MethodCDCreate" },
                  { "$ref": "#/components/schemas/MethodCPTCreate" },
                  { "$ref": "#/components/schemas/MethodDPCreate" },
                  { "$ref": "#/components/schemas/MethodDTCreate" },
                  { "$ref": "#/components/schemas/MethodESACreate" },
                  { "$ref": "#/components/schemas/MethodINCCreate" },
                  { "$ref": "#/components/schemas/MethodIWCreate" },
                  { "$ref": "#/components/schemas/MethodOTHERCreate" },
                  { "$ref": "#/components/schemas/MethodPTCreate" },
                  { "$ref": "#/components/schemas/MethodPZCreate" },
                  { "$ref": "#/components/schemas/MethodRCDCreate" },
                  { "$ref": "#/components/schemas/MethodROCreate" },
                  { "$ref": "#/components/schemas/MethodRPCreate" },
                  { "$ref": "#/components/schemas/MethodRSCreate" },
                  { "$ref": "#/components/schemas/MethodRWSCreate" },
                  { "$ref": "#/components/schemas/MethodSACreate" },
                  { "$ref": "#/components/schemas/MethodSPTCreate" },
                  { "$ref": "#/components/schemas/MethodSRCreate" },
                  { "$ref": "#/components/schemas/MethodSRSCreate" },
                  { "$ref": "#/components/schemas/MethodSSCreate" },
                  { "$ref": "#/components/schemas/MethodSVTCreate" },
                  { "$ref": "#/components/schemas/MethodTOTCreate" },
                  { "$ref": "#/components/schemas/MethodTPCreate" },
                  { "$ref": "#/components/schemas/MethodWSTCreate" }
                ],
                "discriminator": {
                  "propertyName": "method_type_id",
                  "mapping": {
                    "17": "#/components/schemas/MethodADCreate",
                    "12": "#/components/schemas/MethodCDCreate",
                    "1": "#/components/schemas/MethodCPTCreate",
                    "25": "#/components/schemas/MethodDPCreate",
                    "22": "#/components/schemas/MethodDTCreate",
                    "15": "#/components/schemas/MethodESACreate",
                    "19": "#/components/schemas/MethodINCCreate",
                    "21": "#/components/schemas/MethodIWCreate",
                    "23": "#/components/schemas/MethodOTHERCreate",
                    "14": "#/components/schemas/MethodPTCreate",
                    "5": "#/components/schemas/MethodPZCreate",
                    "8": "#/components/schemas/MethodRCDCreate",
                    "18": "#/components/schemas/MethodROCreate",
                    "3": "#/components/schemas/MethodRPCreate",
                    "9": "#/components/schemas/MethodRSCreate",
                    "7": "#/components/schemas/MethodRWSCreate",
                    "4": "#/components/schemas/MethodSACreate",
                    "11": "#/components/schemas/MethodSPTCreate",
                    "20": "#/components/schemas/MethodSRCreate",
                    "24": "#/components/schemas/MethodSRSCreate",
                    "6": "#/components/schemas/MethodSSCreate",
                    "10": "#/components/schemas/MethodSVTCreate",
                    "2": "#/components/schemas/MethodTOTCreate",
                    "13": "#/components/schemas/MethodTPCreate",
                    "26": "#/components/schemas/MethodWSTCreate"
                  }
                },
                "title": "Method In"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/MethodCPT" },
                    { "$ref": "#/components/schemas/MethodTOT" },
                    { "$ref": "#/components/schemas/MethodRP" },
                    { "$ref": "#/components/schemas/MethodSA" },
                    { "$ref": "#/components/schemas/MethodPZ" },
                    { "$ref": "#/components/schemas/MethodSS" },
                    { "$ref": "#/components/schemas/MethodRWS" },
                    { "$ref": "#/components/schemas/MethodRCD" },
                    { "$ref": "#/components/schemas/MethodRS" },
                    { "$ref": "#/components/schemas/MethodSVT" },
                    { "$ref": "#/components/schemas/MethodSPT" },
                    { "$ref": "#/components/schemas/MethodCD" },
                    { "$ref": "#/components/schemas/MethodTP" },
                    { "$ref": "#/components/schemas/MethodPT" },
                    { "$ref": "#/components/schemas/MethodESA" },
                    { "$ref": "#/components/schemas/MethodAD" },
                    { "$ref": "#/components/schemas/MethodRO" },
                    { "$ref": "#/components/schemas/MethodINC" },
                    { "$ref": "#/components/schemas/MethodSR" },
                    { "$ref": "#/components/schemas/MethodIW" },
                    { "$ref": "#/components/schemas/MethodDT" },
                    { "$ref": "#/components/schemas/MethodOTHER" },
                    { "$ref": "#/components/schemas/MethodSRS" },
                    { "$ref": "#/components/schemas/MethodDP" },
                    { "$ref": "#/components/schemas/MethodWST" }
                  ],
                  "discriminator": {
                    "propertyName": "method_type_id",
                    "mapping": {
                      "1": "#/components/schemas/MethodCPT",
                      "2": "#/components/schemas/MethodTOT",
                      "3": "#/components/schemas/MethodRP",
                      "4": "#/components/schemas/MethodSA",
                      "5": "#/components/schemas/MethodPZ",
                      "6": "#/components/schemas/MethodSS",
                      "7": "#/components/schemas/MethodRWS",
                      "8": "#/components/schemas/MethodRCD",
                      "9": "#/components/schemas/MethodRS",
                      "10": "#/components/schemas/MethodSVT",
                      "11": "#/components/schemas/MethodSPT",
                      "12": "#/components/schemas/MethodCD",
                      "13": "#/components/schemas/MethodTP",
                      "14": "#/components/schemas/MethodPT",
                      "15": "#/components/schemas/MethodESA",
                      "17": "#/components/schemas/MethodAD",
                      "18": "#/components/schemas/MethodRO",
                      "19": "#/components/schemas/MethodINC",
                      "20": "#/components/schemas/MethodSR",
                      "21": "#/components/schemas/MethodIW",
                      "22": "#/components/schemas/MethodDT",
                      "23": "#/components/schemas/MethodOTHER",
                      "24": "#/components/schemas/MethodSRS",
                      "25": "#/components/schemas/MethodDP",
                      "26": "#/components/schemas/MethodWST"
                    }
                  },
                  "title": "Response Add Method To Location Projects  Project Id  Locations  Location Id  Methods Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/locations/{location_id}/methods/{method_id}": {
      "get": {
        "tags": ["methods"],
        "summary": "Get Method",
        "description": "Get the method by method_id",
        "operationId": "get_method_projects__project_id__locations__location_id__methods__method_id__get",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          },
          {
            "name": "method_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Method Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/MethodCPT" },
                    { "$ref": "#/components/schemas/MethodTOT" },
                    { "$ref": "#/components/schemas/MethodRP" },
                    { "$ref": "#/components/schemas/MethodSA" },
                    { "$ref": "#/components/schemas/MethodPZ" },
                    { "$ref": "#/components/schemas/MethodSS" },
                    { "$ref": "#/components/schemas/MethodRWS" },
                    { "$ref": "#/components/schemas/MethodRCD" },
                    { "$ref": "#/components/schemas/MethodRS" },
                    { "$ref": "#/components/schemas/MethodSVT" },
                    { "$ref": "#/components/schemas/MethodSPT" },
                    { "$ref": "#/components/schemas/MethodCD" },
                    { "$ref": "#/components/schemas/MethodTP" },
                    { "$ref": "#/components/schemas/MethodPT" },
                    { "$ref": "#/components/schemas/MethodESA" },
                    { "$ref": "#/components/schemas/MethodAD" },
                    { "$ref": "#/components/schemas/MethodRO" },
                    { "$ref": "#/components/schemas/MethodINC" },
                    { "$ref": "#/components/schemas/MethodSR" },
                    { "$ref": "#/components/schemas/MethodIW" },
                    { "$ref": "#/components/schemas/MethodDT" },
                    { "$ref": "#/components/schemas/MethodOTHER" },
                    { "$ref": "#/components/schemas/MethodSRS" },
                    { "$ref": "#/components/schemas/MethodDP" },
                    { "$ref": "#/components/schemas/MethodWST" }
                  ],
                  "discriminator": {
                    "propertyName": "method_type_id",
                    "mapping": {
                      "1": "#/components/schemas/MethodCPT",
                      "2": "#/components/schemas/MethodTOT",
                      "3": "#/components/schemas/MethodRP",
                      "4": "#/components/schemas/MethodSA",
                      "5": "#/components/schemas/MethodPZ",
                      "6": "#/components/schemas/MethodSS",
                      "7": "#/components/schemas/MethodRWS",
                      "8": "#/components/schemas/MethodRCD",
                      "9": "#/components/schemas/MethodRS",
                      "10": "#/components/schemas/MethodSVT",
                      "11": "#/components/schemas/MethodSPT",
                      "12": "#/components/schemas/MethodCD",
                      "13": "#/components/schemas/MethodTP",
                      "14": "#/components/schemas/MethodPT",
                      "15": "#/components/schemas/MethodESA",
                      "17": "#/components/schemas/MethodAD",
                      "18": "#/components/schemas/MethodRO",
                      "19": "#/components/schemas/MethodINC",
                      "20": "#/components/schemas/MethodSR",
                      "21": "#/components/schemas/MethodIW",
                      "22": "#/components/schemas/MethodDT",
                      "23": "#/components/schemas/MethodOTHER",
                      "24": "#/components/schemas/MethodSRS",
                      "25": "#/components/schemas/MethodDP",
                      "26": "#/components/schemas/MethodWST"
                    }
                  },
                  "title": "Response Get Method Projects  Project Id  Locations  Location Id  Methods  Method Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["methods"],
        "summary": "Update Method For Location",
        "description": "Update method",
        "operationId": "update_method_for_location_projects__project_id__locations__location_id__methods__method_id__put",
        "security": [{ "HTTPBearer": [] }],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Project Id" }
          },
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Location Id"
            }
          },
          {
            "name": "method_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Method Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/MethodCPTUpdate" },
                  { "$ref": "#/components/schemas/MethodTOTUpdate" },
                  { "$ref": "#/components/schemas/MethodRPUpdate" },
                  { "$ref": "#/components/schemas/MethodSAUpdate" },
                  { "$ref": "#/components/schemas/MethodPZUpdate" },
                  { "$ref": "#/components/schemas/MethodSSUpdate" },
                  { "$ref": "#/components/schemas/MethodRWSUpdate" },
                  { "$ref": "#/components/schemas/MethodRCDUpdate" },
                  { "$ref": "#/components/schemas/MethodRSUpdate" },
                  { "$ref": "#/components/schemas/MethodSVTUpdate" },
                  { "$ref": "#/components/schemas/MethodSPTUpdate" },
                  { "$ref": "#/components/schemas/MethodCDUpdate" },
                  { "$ref": "#/components/schemas/MethodTPUpdate" },
                  { "$ref": "#/components/schemas/MethodPTUpdate" },
                  { "$ref": "#/components/schemas/MethodESAUpdate" },
                  { "$ref": "#/components/schemas/MethodADUpdate" },
                  { "$ref": "#/components/schemas/MethodROUpdate" },
                  { "$ref": "#/components/schemas/MethodINCUpdate" },
                  { "$ref": "#/components/schemas/MethodSRUpdate" },
                  { "$ref": "#/components/schemas/MethodIWUpdate" },
                  { "$ref": "#/components/schemas/MethodDTUpdate" },
                  { "$ref": "#/components/schemas/MethodOTHERUpdate" },
                  { "$ref": "#/components/schemas/MethodSRSUpdate" },
                  { "$ref": "#/components/schemas/MethodDPUpdate" },
                  { "$ref": "#/components/schemas/MethodWSTUpdate" }
                ],
                "discriminator": {
                  "propertyName": "method_type_id",
                  "mapping": {
                    "1": "#/components/schemas/MethodCPTUpdate",
                    "2": "#/components/schemas/MethodTOTUpdate",
                    "3": "#/components/schemas/MethodRPUpdate",
                    "4": "#/components/schemas/MethodSAUpdate",
                    "5": "#/components/schemas/MethodPZUpdate",
                    "6": "#/components/schemas/MethodSSUpdate",
                    "7": "#/components/schemas/MethodRWSUpdate",
                    "8": "#/components/schemas/MethodRCDUpdate",
                    "9": "#/components/schemas/MethodRSUpdate",
                    "10": "#/components/schemas/MethodSVTUpdate",
                    "11": "#/components/schemas/MethodSPTUpdate",
                    "12": "#/components/schemas/MethodCDUpdate",
                    "13": "#/components/schemas/MethodTPUpdate",
                    "14": "#/components/schemas/MethodPTUpdate",
                    "15": "#/components/schemas/MethodESAUpdate",
                    "17": "#/components/schemas/MethodADUpdate",
                    "18": "#/components/schemas/MethodROUpdate",
                    "19": "#/components/schemas/MethodINCUpdate",
                    "20": "#/components/schemas/MethodSRUpdate",
                    "21": "#/components/schemas/MethodIWUpdate",
                    "22": "#/components/schemas/MethodDTUpdate",
                    "23": "#/components/schemas/MethodOTHERUpdate",
                    "24": "#/components/schemas/MethodSRSUpdate",
                    "25": "#/components/schemas/MethodDPUpdate",
                    "26": "#/components/schemas/MethodWSTUpdate"
                  }
                },
                "title": "Method In"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/MethodCPT" },
                    { "$ref": "#/components/schemas/MethodTOT" },
                    { "$ref": "#/components/schemas/MethodRP" },
                    { "$ref": "#/components/schemas/MethodSA" },
                    { "$ref": "#/components/schemas/MethodPZ" },
                    { "$ref": "#/components/schemas/MethodSS" },
                    { "$ref": "#/components/schemas/MethodRWS" },
                    { "$ref": "#/components/schemas/MethodRCD" },
                    { "$ref": "#/components/schemas/MethodRS" },
                    { "$ref": "#/components/schemas/MethodSVT" },
                    { "$ref": "#/components/schemas/MethodSPT" },
                    { "$ref": "#/components/schemas/MethodCD" },
                    { "$ref": "#/components/schemas/MethodTP" },
                    { "$ref": "#/components/schemas/MethodPT" },
                    { "$ref": "#/components/schemas/MethodESA" },
                    { "$ref": "#/components/schemas/MethodAD" },
                    { "$ref": "#/components/schemas/MethodRO" },
                    { "$ref": "#/components/schemas/MethodINC" },
                    { "$ref": "#/components/schemas/MethodSR" },
                    { "$ref": "#/components/schemas/MethodIW" },
                    { "$ref": "#/components/schemas/MethodDT" },
                    { "$ref": "#/components/schemas/MethodOTHER" },
                    { "$ref": "#/components/schemas/MethodSRS" },
                    { "$ref": "#/components/schemas/MethodDP" },
                    { "$ref": "#/components/schemas/MethodWST" }
                  ],
                  "discriminator": {
                    "propertyName": "method_type_id",
                    "mapping": {
                      "1": "#/components/schemas/MethodCPT",
                      "2": "#/components/schemas/MethodTOT",
                      "3": "#/components/schemas/MethodRP",
                      "4": "#/components/schemas/MethodSA",
                      "5": "#/components/schemas/MethodPZ",
[...]
