DEFAULT_EMAIL=test.user@example.com
KEYCLOAK_SERVER_URL=https://keycloak.test.ngiapi.no/auth/
KEYCLOAK_REALM=tenant-geohub-public
KEYCLOAK_CLIENT_ID=fieldmanager-client
BASE_URL=https://app.test.fieldmanager.io/api/location